{
  "parser": "@babel/eslint-parser",
  "extends": "eslint:recommended",
  "ignorePatterns": ["src/**/*.test.js", "/*.config.js"],
  "rules": {
    "no-console": "warn"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
