@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Anton", sans-serif;
  color: #34302d;
  letter-spacing: 1px;
}

.btn {
  padding: 8px 16px;
  background-color: #ef9849;
  border-radius: 8px;
  cursor: pointer;
  line-height: 1.5;
}

.btn[disabled] {
  cursor: default;
  opacity: 0.3;
}

.btn:not(.btn[disabled]):hover {
  opacity: 0.8;
}

.btn:not(.btn[disabled]):active {
  opacity: 1;
}

#container {
  display: grid;
}

#game-container {
  height: 100vh;
  border: 1px solid #222;
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: #f5e7de;
  gap: 8px;
  position: relative;
}

#game-container .game-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

#game-container .game-overlay.hide {
  display: none;
}

#first-player-container {
  grid-column: 2/3;
  grid-row: 2/3;
}

#first-player-ships {
  grid-row: 2/4;
  grid-column: 1/2;
}

#second-player-ships {
  grid-row: 2/4;
  grid-column: 4/5;
}

#second-player-container {
  grid-column: 3/4;
  grid-row: 2/3;
}

#ships-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.player-ships {
  display: grid;
  gap: 10px;
  text-align: center;
  grid-template-rows: 1fr max-content max-content max-content;
}

.player-ships #reset-ships-btn {
  background-color: #ef9849;
}

.player-ships #restart-game-btn {
  background-color: #ef9849;
}

.player-ships #random-ships-btn {
  background-color: #ef9849;
}

.player-ships .ship {
  display: flex;
  background-color: #ff8c32;
}

.player-ships .ship[data-is-vertical="true"] {
  flex-direction: column;
}

.player-ships .ship.hide-draggable-ship {
  display: none;
}

.draggable {
  cursor: move;
}

.draggable.dragging {
  opacity: 0.5;
}

.player-ships .ship.h {
  display: flex;
  flex-direction: column;
}

.player-ships .ship > * {
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

.player-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.player-container .board-title {
  font-size: 1.3rem;
  padding: 3px;
}

.output-msg {
  grid-row: 3/4;
  grid-column: 2/4;
  background-color: #222;
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-container .board {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(10, minmax(40px, 1fr));
  grid-template-rows: repeat(10, minmax(40px, 1fr));
  justify-content: center;
  align-items: center;
  background-color: #c1a18a;
  position: relative;
}

.board .board-unit {
  border: 1px solid rgba(0, 0, 0, 0.234);
  width: 100%;
  height: 100%;
  position: relative;
}

.board .board-unit:hover {
  background-color: #34302d;
  opacity: 0.7;
}

.board .board-unit.ship-placement-hint {
  background-color: #222;
}

.board .board-unit[data-has-ship="true"] {
  background-color: #5b7a8c;
}

.board .board-unit[data-has-ship="true"][data-player="2"] {
  background-color: #bd3b3b;
}

.board .board-unit[data-is-hit="true"]:not([data-has-ship="true"]):after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
}

.board .board-unit[data-has-ship="true"][data-is-hit="true"]::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20%;
  background-color: #34302d;
}

.board .enemy-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.board .enemy-overlay.hide {
  display: none;
}
